<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Todo app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Nathan Davis">
    <link href="/bs/css/bootstrap.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Cantata+One|Istok+Web:400,700,400italic' rel='stylesheet' type='text/css'>

    <style>
    div.container {
      background: #f4f4f4 url(/bs/img/background.png);
    }
    td.guideline-right {
      border-right: 4px double #daa; 
    }
    td.checkbox-container {
      max-width: 36px;
      width: 36px;
      max-height: 36px;
      height: 36px
    }
    input[type=checkbox] {
      width: 42px;
      height: 42px;
      padding: 0 0 0 0;
      margin: 0 0 0 0;
    }
    td.todo-text {
      padding-top: 17px;
      font-size: 16px;
    }
    td.todo-text .icon-chevron-right, td.todo-text .icon-plus {
      float: right;
      margin-top: 2px;
      margin-right: 10px;
      opacity: .25;
    }
    td.todo-text:hover .icon-chevron-right, td.todo-text:hover .icon-plus {
      opacity: .85;
    }
    div.editor-container {
      height: 255px;
      max-height: 255px;
      display: none;
      padding: 0 0 0 0;
      margin: 0 0 0 0;
      float: left;
    }
    #login-box {
      display: none;
    }
    small {
      font-size: 11px;
    }
    </style>

    <link href="/bs/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="span10 offset1">
          <h3>To Do:</h3>
          
          <table class="table table-hover" id="todosTable">
            <!-- <tr>
              <td class="guideline-right checkbox-container"><input type="checkbox"></td>
              <td class="todo-text">A task I really need to do ASAP.<i class="icon-chevron-right"></i></td>
            </tr>
            <tr>
              <td class="guideline-right checkbox-container"><input type="checkbox"></td>
              <td class="todo-text">Another thing I gotta do. Another thing I really gotta do. Do it. Do it. Go.<i class="icon-chevron-right"></i></td>
            </tr>
            <tr>
              <td class="guideline-right checkbox-container"><input type="checkbox"></td>
              <td class="todo-text">Do this soon or Dye<i class="icon-chevron-right"></i></td>
            </tr> -->
            <tr class="add-form-row">
              <td class="guideline-right checkbox-container"></td>
              <td class="todo-text">
                <div class="editor-container">
                  <form>
                    <input type="text" id="todoTitle" class="input-xxlarge" placeholder="To do...">
                    
                    <label for="due">Due</label>
                    <input type="date" id="due" placeholder="Due Date (optional)" class="input-small">
                    <label for="labels">Labels</label>
                    <input type="text" id="labels" placeholder="Labels (optional)" class="input-large">
                    <p>
                      <button class="btn btn-small" type="button" id="saveTodo">Done</button>
                    </p>
                    
                  </form>
                </div>
                <i class="icon-plus"></i>
              </td>
            </tr>
            <tr>
              <td class="guideline-right"></td>
              <td><span class="pull-right"><small>Sort by: &nbsp; <a href="#sort/dueDate">Due</a> | <a href="#sort/title">Title</a></small> </span></td>
            </tr>
          </table>
          <br />
          <div id="login-box" class="alert alert-block alert-info">
            <h4>Please Login to use the app</h4>
            <br />
            <form action="/api/login" method="POST">
              <label for="username">Username</label>
              <input type="text" id="username" name="username" placeholder="Username" class="input-medium">
              <label for="password">Password</label>
              <input type="text" id="password" name="password" class="input-medium">
              <input type="hidden" id="redirectto" name="redirectto" value="/index.html">
              <p>
                <input class="btn btn-small" type="submit" value="Sign In"></button>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/jquery.js"></script>
    <script src="/js/underscore-min.js"></script>
    <script src="/js/backbone-min.js"></script>
    <script>
    $('.add-form-row').click(
      function() {
        $('.editor-container', this).show('fast', function() {
          console.log('show editor animation complete')
          $('#todoTitle', this).focus();
        });
      }
      //,
      //function() {$('.editor-container', this).hide('slow');}
    );

    $(function(){

      var ToDoItem = Backbone.Model.extend({
        defaults: function() { 
          return {
            title: "",
            dueDate: null,
            labels: [],
            completed: false
          };
        },

        toggleCompleted: function() {
          this.set("completed", !this.get("completed"));
        }
      });

      var ToDoList = Backbone.Collection.extend({

        model: ToDoItem,
        tagFilter: null,
        sortBy: 'dueDate',

        url: "/api/todos",

        fetch: function(options) {
          var originalUrl = this.url;
          var url = this.url + '?'; 
          if (this.tagFilter) { url += 'tagFilter=' + this.tagFilter + '&'; }
          if (this.sortBy) { url += 'sortBy=' + this.sortBy; }
          this.url = url;

          this.constructor.__super__.fetch.apply(this, arguments);

          this.url = originalUrl;
        }
      });

      todos = new ToDoList;

      var ToDoEditView = Backbone.View.extend({
        className: "editor-container",
        template: _.template($('#edit-template').html()),

        events: {
          "click #saveTodo": "save"
        },

        render: function() {
          this.$el.html(this.template(this.model.toJSON())).show('fast', function() {
            $('#todoTitle', this).focus();
          });
          return this;
        },

        save: function() {
          var title = this.$('#todoTitle').val();
          if (!title) { return; }

          var dueDate = this.$('#due').val();
          dueDate = dueDate ? new Date(dueDate).getTime() : new Date().getTime();

          var labels = this.$('#labels').val();
          labels = labels.trim().split(',');

          var attrToSave = {
            title: title,
            dueDate: dueDate,
            labels: labels
          };
          if (this.model && this.model.id) {
            this.model.save(attrToSave);
          } else {
            todos.create(attrToSave);
          }
          this.resetForm();
        },

        resetForm: function() {
          this.$('form')[0].reset();
          this.$('#due').val(null); //webkit doesn't seem to actually clear this on reset
        }
      });

      var newToDoForm = new ToDoEditView({el: $('.add-form-row .editor-container')})

      var ToDoView = Backbone.View.extend({
        tagName: "tr",
        className: "item-row",
        template: _.template($('#view-template').html()),

        events: {
          "click .todo-text .title": "enterEditMode",
          "click input:checkbox": "markComplete" 
        },

        initialize: function() {
          this.listenTo(this.model, 'change', this.render);
          this.listenTo(this.model, 'destroy', this.remove);
        },

        render: function() {
          this.$el.html(this.template(this.model.toJSON()));
          return this;
        },

        enterEditMode: function() {
          var editView = new ToDoEditView({model: this.model})
          this.$('.todo-text').html(editView.render().el)
        },
        markComplete: function() {
          this.model.destroy();
        }
      });

      var ToDoListView = Backbone.View.extend({
        el: $('#todosTable'),

        itemViews: {},

        initialize: function(){
          this.listenTo(todos, 'add', this.refresh);
          this.listenTo(todos, 'remove', this.refresh);
          this.listenTo(todos, 'reset', this.addAll);

          this.fetch();
        },
        refresh: function() {
          console.log('refresh begin');
          this.clearAll();
          var ctx = this;
          setTimeout(function(){ctx.fetch();},150); //ugh
          console.log('refresh end');
        },
        fetch: function() {
          todos.fetch({
            success: function(){},
            error: function(collection, xhr, options){
              console.log(xhr);
              if (xhr.status === 403) {
                $('#login-box').show('fast', function() {
                  $('#username', this).focus();
                })
              }
            }
          });
        },
        addOne: function(item) {
          var itemView = new ToDoView({model: item});
          var lastOutstanding = this.$el.find('.item-row').last()
          if (lastOutstanding.length > 0) {
            lastOutstanding.after(itemView.render().el);
          } else {
            this.$el.prepend(itemView.render().el);
          }
          this.itemViews[item.id] = itemView;
        },
        addAll: function() {
          console.log('addAll begin');
          todos.each(this.addOne, this);
          console.log('addAll end');
        },
        clearOne: function(item) {
          var itemView = this.itemViews[item.id];
          if (itemView) {
            itemView.remove()
            delete this.itemViews[item.id];
          }
        },
        clearAll: function() {
          todos.each(this.clearOne, this);
        }
      });
      window.toDoList = new ToDoListView;

      var AppRouter = Backbone.Router.extend({

        routes: {
          "sort/:sortBy": "sort",
          "tag/:tagName": "filterByTag"
        },

        filterByTag: function(tagName) {
          console.log('filter by ' + tagName);
          todos.tagFilter = tagName;
          window.toDoList.refresh();
        },

        sort: function(sortBy) {
          console.log('sort by ' + sortBy);
          todos.sortBy = sortBy;
          window.toDoList.refresh();
        }

      });
      var router = new AppRouter
      Backbone.history.start()

    });

    </script>


    <!-- view templates -->
    <script type="text/template" id="edit-template">

    <form>
      <input type="text" id="todoTitle" class="input-xxlarge" placeholder="To do..." value="<%- title %>">
      
      <label for="due">Due</label>
      <input type="date" id="due" placeholder="Due Date (optional)" class="input-small" value="<%- dueDate %>">
      <label for="labels">Labels</label>
      <input type="text" id="labels" placeholder="Labels (optional)" class="input-large" value="<%- labels %>">
      <input type="hidden" id="id">
      <p>
        <button class="btn btn-small" type="button" id="saveTodo">Done</button>
      </p>
      
    </form>

    </script>

    <script type="text/template" id="view-template">

    <td class="guideline-right checkbox-container"><input type="checkbox" <%= completed ? 'checked="checked"' : '' %>></td>
    <td class="todo-text">
      <p class="title">
        <%- title %>
        &nbsp; &nbsp; - &nbsp;
        <small><%= new Date(dueDate).toDateString() %></small>
        <% for (var i = 0; i < labels.length; i++) { %>
          <a class="label" href="#tag/<%- labels[i] %>"><small><%- labels[i] %></small></a>
        <% } %>
        <i class="icon-chevron-right"></i>
      </p>
      <!--// <p class="text-right">
      //   <small><%= new Date(dueDate).toDateString() %></small>
      //   <% for (var i = 0; i < labels.length; i++) { %>
      //     <a class="label" href="#tag/<%- labels[i] %>"><small><%- labels[i] %></small></a>
      //   <% } %>
      // </p>-->
    </td>

    </script>
  </body>
</html>